.skill{
    width: 280px;
    background:#282c34 ;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
.icon{
   height: 60px;
    width: 60px;
    background: #7a7978;

}
.description{
    color:#878E99;
    font: 16px Nunito,monospac;
}